<div class="row">
	<div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3">
		<div id="about">
			<h1>About ELYZA</h1>

			<h3>Get in touch with (almost) anyone</h3>
			<p>ELYZA is a tool that helps you find someone's company email address based on their name and company domain name.</p>

			<h3>Who is this for?</h3>
			<p>Maybe you are a sales person trying to get in touch with the decision maker at a Fortune 500 company. Maybe you are a job seeker looking to reach out to the hiring manager to learn more about your dream job. Maybe you just need to ask someone you don't know for advice. If you are looking to connect with people, ELYZA can help.</p> 

			<h3>How does it work?</h3>
			<p>Using ELYZA is easy. Simply input your contact's full name and his/her company domain name. ELYZA will search through a list of potential email addresses and return a list of confirmed/possible email addresses. Yes, it's that simple.</p>

			<h3>How accurate are the results?</h3>
			<p>If you see a green checkmark next to the email, it's valid. If you see a yellow question mark, it is a possible emai. ELYZA cannot confrirm for sure.</p>

			<h3>Is it free?</h3>
			<p>ELYZA is currently free for anyone to use.</p>

			<h1 class="hello">About Me</h1>
			<div class="circular"></div>
			<h3 class="hello">Hi, I'm Yilun</h3>
			<p>By day I'm a product manager at a healthcare data startup called <%= link_to "Medivo", "http://www.medivo.com/" %>. By night, I build products that I find interesting and useful.</p>

			<p>Shoot me a note at <%= link_to "yilun@elyza.co", "#" %>, would love to hear your thoughts and feedbacks.</p>

			<a href="http://www.linkedin.com/pub/yilun-zhang/10/45/7b8">
      			<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Yilun Zhang's profile on LinkedIn">
   			 </a>
		</div>
	</div>
</div>
