<h1>Get In Touch With (Almost) Anyone</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
		<div class="banner">
			<span class="glyphicon glyphicon-eye-open"></span>
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<div class="main_banner_content">
			<div class="left-div"><strong>Simple Search</strong></div>
			<div class="right-div"><strong>Valid Results</strong></div>
		</div>
	</div>
</div>

<div class="lower_banner">
	<div class="lower_banner_content">
		<h3 class="call_action">Try us for free. No credit card required</h3>
		<button type="button" class="btn btn-lg btn-success">Sign up</button>
		<button type="button" class="btn btn-lg btn-info">Learn More</button>
	</div>
</div>