<h1>Get In Touch With (Almost) Anyone</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
		<div class="img_main_banner">
			<span class="glyphicon glyphicon-eye-open"></span>
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<div class="main_banner_notes">
			<div class="left-div"><strong>Simple Search</strong></div>
			<div class="right-div"><strong>Valid Results</strong></div>
		</div>
	</div>
</div>