<h1>Get in Touch with (Almost) Anyone</h1>
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
		<div class="banner">
			<span class="glyphicon glyphicon-search"></span>
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<div class="main_banner_content">
			<div class="left-div"><strong>Step 1:<br /> Search Person of Interest</strong></div>
			<div class="right-div"><strong>Step 2: <br /> View Confirmed Emails</strong></div>
		</div>
	</div>
</div>

<div class="lower_banner">
	<div class="lower_banner_content">
		<h3 class="call_action">Yes, it's that simple. Try it for free.</h3>
		<button type="button" class="btn btn-lg btn-success"><%= link_to 'Sign up', new_user_registration_path, class: "call_action" %></button>
		<button type="button" class="btn btn-lg btn-info"><%= link_to 'Learn More', about_path, class: "call_action" %></button>
	</div>
</div>