<h1>Forgot your password?</h1>

<div class="row">
	<div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-4">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  	<%= devise_error_messages! %>

				  	<div class="form-group">
				  		<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
				  	</div>

				  	<div class="submit">
				  		<%= f.submit "Send me reset password instructions", class: "btn btn-primary", data: { disable_with: 'Sending...'} %>
				  	</div>
				<% end %>
			</div>
		</div>
	</div>
</div>