<h1>Search Result</h1>

<h3>Search Parameters</h3>
<p><%= @search.first_name %>, <%= @search.last_name %>, <%= @domain.name %></p>

<h3>Search Results</h3>
<ul>
<% @emails.each do |email| %>
	<li><%= email %></li>
<% end %>
</ul>