@import "bootstrap";

/* General */
h1 {
	text-align: center;
	padding-top: 25px;
	padding-bottom:50px;
	&.hello {
		padding-bottom: 15px
	}
}

h2 {
	font-size: 1.0em;
	padding-top: 20px;
} 

#logo {
	float: left;
	font-size: 1.7em;
	padding-top: 9px;
	&:hover {
		text-decoration: none;
	}
}

.search_form {
	margin-left: 15px;
}

.submit {
	text-align: center;
}

#error_explanation {
	color: #f00;
	ul {

		margin: 0 0 18px 0;
	}
}

button {
	margin: 5px;
}

/* search results page */

table {
	width: 100%;
}

table, th, td {
    border-top: solid LightGray 1px;
    border-bottom: solid LightGray 1px;
}

.glyphicon-ok-sign {
	color: green;
	font-size: 1.8em;
}

.glyphicon-remove-sign {
	color: FireBrick;
	font-size: 1.8em;
}

.glyphicon-question-sign {
	color: orange;
	font-size: 1.8em;
}

.glyphicon-exclamation-sign {
	color: indigo;
	font-size: 1.8em;
}

.glyphicon-ban-circle {
	color: OrangeRed;
	font-size: 1.8em;
}

td {
	vertical-align: middle;
	padding: 15px;
}

.vote {
	width: 15px;
	float: right;
	clear: right;
}

.vote span {
	display: block;
	float: none; 
	clear: both;
}

#no_result {
	text-align: center;
	font-size: 1.5em;
}

/* Sign in page */
.devise_links {
	margin-top: 20px;
	text-align: center;
}

/*Home Page*/
.banner {
	text-align: center;
}

.glyphicon-pencil, .glyphicon-search, .glyphicon-user {
	font-size: 10em;
	margin-left: 150px;
	margin-right: 150px;
}

.main_banner_content {
	text-align: center;
	margin-top: 25px;
}

.left-div {
	float:left;
	margin-left: 130px;
	font-size: 1.5em;
}

.right-div {
	margin-left: 450px;
	font-size: 1.5em;
}

.lower_banner {
	height: 225px;
	width: 100%;
	background-color: #003366;
	margin-top: 50px;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

.lower_banner_content {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.call_action {
	color: white;
	&:hover {
		color: white;
		text-decoration: none;
	}
}


/*About Page*/
#headshot {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-image: image-url("head_shot.jpg");
	margin-left: auto;
	margin-right: auto;
}

.hello {
	text-align: center;
}

#about {
	padding-bottom: 100px;
}

.video {
	text-align: center;
	margin: 20px;
}

