@import "bootstrap";

/* General */
h1 {
	text-align: center;
	padding-top: 30px;
	padding-bottom:50px;
}

#logo {
	float: left;
	font-size: 1.7em;
	padding-top: 9px;
	&:hover {
		color: white; 
		text-decoration: none;
	}
}

.search_form {
	margin-left: 15px;
}

.submit {
	text-align: center;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}


/* search results page */

table {
	width: 100%;
}

table, th, td {
    border-top: solid LightGray 1px;
    border-bottom: solid LightGray 1px;
}

.glyphicon-ok-sign {
	color: green;
	font-size: 1.8em;
}

.glyphicon-remove-sign {
	color: FireBrick;
	font-size: 1.8em;
}

.glyphicon-question-sign {
	color: orange;
	font-size: 1.8em;
}

.glyphicon-exclamation-sign {
	color: indigo;
	font-size: 1.8em;
}

.glyphicon-ban-circle {
	color: OrangeRed;
	font-size: 1.8em;
}

td {
	vertical-align: middle;
	padding: 15px;
}

.vote {
	width: 15px;
	float: right;
	clear: right;
}

.vote span {
	display: block;
	float: none; 
	clear: both;
}

#score {
	text-align: center;
}

/* Sign in page */
.devise_links {
	margin-top: 10px;
	text-align: center;
}



