@import "bootstrap";

h1 {
	text-align: center;
}

#logo {
	float: left;
	font-size: 1.7em;
	padding-top: 9px;
	&:hover {
		color: white; 
		text-decoration: none;
	}
}

.search_form {
	margin-left: 15px;
}

.submit {
	text-align: center;
}

.glyphicon {
	float: right;
	margin-left: 10px;
}